[buildout]
extends =
    base.cfg
    versions.cfg
parts +=
    varnish-configuration
    varnish-script

#    varnish-build


[varnish-build]
recipe = plone.recipe.vinylcache:build
# url = https://github.com/varnish/varnish/releases/download/varnish-9.1.0/varnish-9.1.0.tar.gz
compile-vmods = true
extra_options = --with-sphinx-build=false

[varnish-configuration]
recipe = plone.recipe.vinylcache:configuration
backends = 127.0.0.1:8081

[varnish-script]
recipe = plone.recipe.vinylcache:script
bind = 127.0.0.1:8000
cache-size = 512M
